/* Variables
/* ---------------------------------------------------------- */

:root {
    /* Colours */
    --blue: #0078d0;
    --green: #a4d037;
    --purple: #ad26b4;
    --yellow: #fecd35;
    --red: #f05230;
    --darkgrey: #15171A;
    --midgrey: #738a94;
    --lightgrey: #c5d2d9;
    --whitegrey: #e5eff5;
    --pink: #fa3a57;
    --brown: #a3821a;
    --darkmode: color-mod(var(--darkgrey) l(+2%));
}

/* Reset
/* ---------------------------------------------------------- */
.text-center {
    text-align: center;
}
.tech-stack-container {
    display: flex !important;
}
.center {
    justify-content: center;
}
.tech-stack-grid {
    display: block !important;
}
.tech-stack-img {

width: 100px !important;
}
.post-content.load-external-scripts.about {
    align-items: unset !important;  
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
img {
    max-width: 100%;
}
html {
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
b,
strong {
    font-weight: bold;
}
i,
em,
dfn {
    font-style: italic;
}
h1 {
    margin: 0.67em 0;
    font-size: 2em;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
mark {
    background-color: #fdffb6;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0; /* 3 */
    color: inherit; /* 1 */
    font: inherit; /* 2 */
}
button {
    overflow: visible;
    border: none;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
/* 1 */
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 3 */

    -webkit-appearance: button; /* 2 */
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input:focus {
    outline: none;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    box-sizing: content-box; /* 2 */

    -webkit-appearance: textfield; /* 1 */
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
legend {
    padding: 0; /* 2 */
    border: 0; /* 1 */
}
textarea {
    overflow: auto;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 62.5%;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    overflow-x: hidden;
    color: color-mod(var(--midgrey) l(-30%));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    background: #fff;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;

    overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

::selection {
    text-shadow: none;
    background: color-mod(var(--blue) lightness(+30%));
}

hr {
    position: relative;
    display: block;
    width: 100%;
    margin: 0.5em 0 0.5em;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid color-mod(var(--lightgrey) l(+10%));
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

p,
ul,
ol,
dl,
blockquote {
    margin: 0 0 1.5em 0;
}

ol,
ul {
    padding-left: 1.3em;
    padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0.5em 0 1em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul,
ol {
    max-width: 100%;
}

li {
    margin: 0.5em 0;
    padding-left: 0.3em;
    line-height: 1.6em;
}

dt {
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    color: var(--darkgrey);
    font-weight: 500;
    text-align: right;
}

dd {
    margin: 0 0 5px 0;
    text-align: left;
}

blockquote {
    margin: 1.5em 0;
    padding: 0 1.6em 0 1.6em;
    border-left: var(--whitegrey) 0.5em solid;
}

blockquote p {
    margin: 0.8em 0;
    font-size: 1.2em;
    font-weight: 300;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    opacity: 0.8;
}
/* Quotation marks */
blockquote small:before {
    content: "\2014 \00A0";
}

blockquote cite {
    font-weight: bold;
}
blockquote cite a {
    font-weight: normal;
}

a {
    color: color-mod(var(--blue) l(-5%));
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    line-height: 1.15;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

h1 {
    margin: 0 0 0.5em 0;
    font-size: 5.5rem;
    font-weight: 600;
}
@media (max-width: 500px) {
    h1 {
        font-size: 2.2rem;
    }
}

h2 {
    margin: 1.5em 0 0.5em 0;
    font-size: 2.2rem;
}
@media (max-width: 500px) {
    h2 {
        font-size: 1.8rem;
    }
}

h3 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.8rem;
    font-weight: 500;
}
@media (max-width: 500px) {
    h3 {
        font-size: 1.7rem;
    }
}

h4 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.6rem;
    font-weight: 500;
}

h5 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.4rem;
    font-weight: 500;
}

h6 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.4rem;
    font-weight: 500;
}
.l-content {
    
    padding: 60px 0 40px;
}


.l-about-container-image {
    display: flex;
    justify-content: center;
}
@media only screen and (min-width:48rem) {
    .l-tags-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      max-width: 720px
    }

    
  }
  
  @media only screen and (min-width:64rem) {
    .l-tags-container {
        display: flex;
      max-width: 1080px
    }

    .l-content {
    
        padding: 60px 0 40px;
    }

    .m-share {
        position: absolute;
        top: 0;
        left: auto;
        right: -75px;
        width: 40px;
        height: auto;
        background-color: transparent;
        box-shadow: 0 0 0 transparent, 0 0 0 transparent;
    }

    .m-share__content {
        position: -webkit-sticky;
        position: sticky;
        top: 100px;
        flex-direction: column-reverse;
        align-items: flex-start;
        height: auto;
    }

    .m-share a:first-of-type {
        margin-bottom: 0;
    }

    .m-icon-button.in-share {
        font-size: .875rem;
        width: 40px;
        height: 40px;
        margin: 0 0 20px;
    }
    
  }
  
.shrink { 
    transition:all .2s cubic-bezier(.02,.01,.47,1);
}
.shrink:hover { 
    transform: translateY(-3px);
}

  .m-tag-card {
    height: 180px;
    margin: 0 0 20px;
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--secondary-border-color);
    transition: all .25s cubic-bezier(.02, .01, .47, 1)
  }
  
  .m-tag-card:hover {
    transform: translateY(-5px)
  }
  
  .m-tag-card:hover:before {
    box-shadow: var(--article-shadow-hover), 0 0 0 transparent
  }
  

  @media only screen and (min-width:48rem) {
    .m-tag-card {
      width: 320px;
      margin: 0 20px 40px
    }
    .m-tags.in-post {
        padding: 0 170px;
    }
    .m-share {
        height: 50px;
    }

    
  }
  
  .m-tag-card:before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 0;
    left: 10px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: var(--article-shadow-normal), 0 0 0 transparent;
    transition: all .25s cubic-bezier(.02, .01, .47, 1)
  }
  
  .m-tag-card__link {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #000;
    z-index: 2
  }
  
  .m-tag-card__link.no-picture {
    background-color: var(--secondary-subtle-color)
  }
  
  .m-tag-card__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: .7;
    z-index: 1
  }
  
  .m-tag-card__info {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: #fff;
    z-index: 2
  }
  
  .m-tag-card__info.no-picture {
    color: var(--titles-color)
  }
  
  .m-tag-card__name {
    letter-spacing: .3px;
    line-height: 1.3;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 5px
  }
  
  .m-tag-card__counter {
    display: block;
    letter-spacing: .2px;
    font-size: .875rem
  }

  .m-tag-card__link.no-picture {
    background-color: #141920;
}
.m-tag-card__info.no-picture {
    color: #b4b4b4;
}

html.casper .tech-stack-image {
    margin:10px;
}

.m-tags.in-post {
    position: relative;
    margin: 0 auto;
    padding-top: 25px;    
}

.m-tags ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;
    justify-content: center;
}

.m-tags li {
    padding-left: 2em;
}

.m-tags a {
    color: hsl(205.38461538461542, 100%, 70.7843137255%);
    letter-spacing: .2px;
    font-weight: 600;
}

.m-submenu-title {
    text-align: center;
    padding-bottom: 20px;
}

/* .m-article-card__featured js-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 26px;
    right: 20px;
    width: 24px;
    height: 24px;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
} */

.icon-star:before {
    content: "⭐";
    color: transparent;  
    text-shadow: 0 0 0 black;
    font-size: 1.2rem;
    top: -2px;
    /* position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;  */
}

.m-article-card__featured {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 26px;
    right: 20px;
    width: 27px;
    height: 27px;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
}   

.featured-post-tooltip {    
    width: 85px;
    height: 27px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    background-color: black;
}

.m-share {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 -4px 10px rgb(0 0 0 / 10%), 0 0 0 transparent;
}

.m-share__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.m-share span {
    font-size: 2.5rem;
}
.m-share a:first-of-type {
    margin-left: 0;
}
.m-icon-button.in-share {
    color: #b4b4b4;
    font-size: .75rem;
    text-decoration: none;
    width: 31px;
    height: 31px;
    margin: 0 25px;
}

.m-share button:last-of-type {
    margin-right: 0;
}

.m-icon-button.progress {
    position: relative;
}

.m-icon-button.progress svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.m-icon-button.filled.in-share.progress.js-scrolltop {
    background-color: rgba(194, 159, 159, 0.9);
    border-radius: 50%;
}
.icon-arrow-top:before {
    content: "⬆";
}
.m-icon-button.progress svg circle {
    stroke: #2c2fe6;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    transition: stroke-dashoffset .2s;
}

@media only screen and (min-width: 90rem) {
    .m-share {
        right: -200px;
    }
}

@media only screen and (min-width: 80rem) {
    .m-share {
        width: 50px;
        right: -175px;
    }
    
    .m-icon-button.in-share {
        font-size: 1rem;
        width: 50px;
        height: 50px;
    }
}
@media (min-width: 500px) {
    
  }
#button {
    display: inline-block;
    background-color:transparent;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    bottom: 30px;
    right: 50px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
.icon-btn-top {
    width: 50px;
    height: 50px;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555; 
}
#button.show {
    opacity: 1;
    visibility: visible;
}
  
.top-link {
    display:inline-flex;
    width:70px;
    height:70px;
    padding-top:20px;
    right: -40px;
    position:fixed;
    z-index:999;
    top:45%;
    border-radius:999px;
    cursor:pointer;
    opacity:0.6;
    background-color: #323438;
    color:#b4b4b4; 
    font-size:2.0em;
    align-content: center;
    justify-content: center;
}

.topSvg {
    fill: #fff;
    width: 36px;
    height: 36px;
}
    
.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover { 
    right: -20px;
    transform: scale(1.2); 
}

.share-post-link {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;
    justify-content: center;
}

.tweet-tooltip {
    width: 160px;
    height: 27px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    background-color: black;
}

.svg-share-link {
    height: 3rem !important;
}

.outer.site-nav-main::after {
    content: "";
    display: block;
    width: 0%;
    margin-left: -100px;
    border-bottom: solid;
    border-color:hsl(205.38461538461542, 100%, 70.7843137255%);
}

.m-search.opened {
    visibility: visible;
    opacity: 1;
    z-index: 10;
    transform: scale(1);
}
.m-search {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow-y: auto;
    z-index: 2;
    background-color: #15171A;
    -webkit-overflow-scrolling: touch;
    transform: scale(1.2);
    transition: all .4s cubic-bezier(.165,.84,.44,1);
}
.m-result {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid hsl(205.38461538461542, 100%, 70.7843137255%);
}

@media only screen and (min-width: 80rem){
.m-icon-button.as-close-search {
    top: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
}
}
@media only screen and (min-width: 48rem){
.m-icon-button.as-close-search {
    top: 30px;
    right: 30px;
    width: 42px;
    height: 42px;
    font-size: .875rem;
}}
.m-icon-button.as-close-search {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    font-size: .625rem;
    z-index: 2;
}
.m-icon-button.outlined {
    border: 1px solid var(--primary-foreground-color);
}
.m-icon-button {
    color: var(--titles-color);
    font-size: 1.125rem;
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
}

@media only screen and (min-width: 90rem){
.m-search__content {
    max-width: 800px;
}}
@media only screen and (min-width: 80rem){
.m-search__content {
    padding-left: 0;
    padding-right: 0;
}}
@media only screen and (min-width: 48rem){
.m-search__content {
    padding-top: 100px;
    padding-bottom: 50px;
    max-width: 700px;
}}
.m-search__content {
    padding: 80px 20px 40px;
    margin: 0 auto;
}

@media only screen and (min-width: 48rem){
.m-search__form {
    max-width: 500px;
    margin: 0 auto 45px;
}}
.m-search__form {
    margin-bottom: 30px;
}

.pos-relative {
    position: relative;
}

@media only screen and (min-width: 48rem){
.m-search-icon {
    font-size: 1.25em;
    left: 25px;
}}
.m-search-icon {
    position: absolute;
    top: 45%;
    left: 15px;
    color: #9b9b9b;
    font-size: 1rem;
    font-weight: 500;
    pointer-events: none;
    transform: translateY(-45%);
}

.sr-only {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
}

@media only screen and (min-width: 48rem){
.m-input.in-search {
    font-size: 1.25rem;
    padding: 15px 30px 15px 60px;
}}
.m-input.in-search {
    font-weight: 600;
    padding-left: 40px;
}
.m-input {
    color: var(--primary-foreground-color);
    letter-spacing: .2px;
    line-height: 1.3;
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
    padding: 11px 15px;
    border: 1px solid hsl(205.38461538461542, 100%, 70.7843137255%);
    outline: 0;
    background-color: #111;
}

.hide {
    display: none;
}

.m-not-found {
    color: #111;
    line-height: 1.3;
    font-size: .875rem;
    font-weight: 600;
}
.align-center {
    text-align: center;
}

.search-icon {
    width: 40px;
    height: 40px;
}

@media only screen and (min-width: 80rem){
.m-result__title {
    /* font-size: 1.375rem; */
}}
@media only screen and (min-width: 48rem){
.m-result__title {
    letter-spacing: .4px;
    /* font-size: 1.25rem; */
    margin-bottom: 10px;
}}
.m-result__title {
    color: #ccc;
    letter-spacing: .3px;
    line-height: 1.4;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0 0 5px;

}

@media only screen and (min-width: 48rem){
.m-result__date {
    letter-spacing: .3px;
    /* font-size: .938rem; */
}}
.m-result__date {
    color: #b4b4b4;
    letter-spacing: .2px;
    /* font-size: .813rem; */
}